

.header {
    background-color: #f5ebdc;
    height: 81px;
    width: 100vw;
    position: sticky;
    z-index: 1;
    top: 0;
    font-family: 'Robo';

}

.headerMenu {
    margin: 0 auto;
    gap: 150px;
    width: 1280px;
    display: flex;
    align-items: center;
    height: 81px;
}

.leftMenu {
    display: flex;
    height: 36px;
    width: 700px;
    justify-content: space-between;
}

.navBar {
    position: relative;
    width: 36px;
    height: 36px;
    color: #f5ebdc;
    border: none;
    cursor: pointer;
}

.navBar:before {
    position: absolute;
    height: 36px;
    width: 36px;
    top: 0;
    left: 0;
    content: '';
    background: no-repeat  url('https://cdn.onlinewebfonts.com/svg/download_113945.png');
    background-size: contain;
}

.city {

}

.selectedCity {
    font-size: 14px;
    font-family: Rotonda;
}

.citySelect {
    font-weight: normal;
    position: relative;
    height: 17px;
    width: 114px;
    text-transform: uppercase ;
    font-size: 14px;
}

.citySelect:after {
    position: absolute;
    height: 16px;
    width: 16px;
    right: -7px;
    content: '';
    background: no-repeat url("https://e7.pngegg.com/pngimages/563/868/png-clipart-computer-icons-pencil-icon-design-material-design-drawing-pencil-angle-pencil.png");
    background-size: contain;
}

.search {
    position: relative;
}

.search input {
    border-color: #d7c7b4;
    border-radius: 60px;
}

.searchInput {
    position: relative;
    width: 405px;
    padding: 8px 40px;
    font-size: 14px ;
    border: 1px solid transparent;
}

.searchInput::placeholder {
    color: #c0aa8f;

}

.search:before {
    position: absolute;
    content: '';
    top: 7px;
    left:12px;
    width: 20px;
    height: 27px;
    background: no-repeat transparent url("https://web-static.burgerkingrus.ru/master/25190/_nuxt/65f97f238bd7d39d6cf0036d33592a6a.svg");
    background-size: contain;
    z-index: 2;
}

.logo {
    height: 54px;
    width: 54px;
}

.logo img {
    width: 54px;
    height: 54px;
    margin-top: -10px;
}

.rightMenu {
    display: flex;
    align-items: center;
    width: 380px;
    gap: 30px;
}

.coupons {
    display: block;
    text-decoration: none;
    color: #502314;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
}

.club {
    display: block;
    text-decoration: none;
    color: #502314;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
}

.profile {
    background-image: url(	https://web-static.burgerkingrus.ru/master/25190/_nuxt/8a500768972a4d6a7b8539804ed2bf0c.svg);
    width: 34px;
    height: 34px;
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    border: 2px solid #502314;
    border-radius: 50%;
}

.cart {
    background: #d7c7b4;
    border-radius: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f5ebdc;
    padding: 8px 0;
    width: 75px;
    font-size: 16px;
    line-height: 18px;
    text-decoration: none;
    position: relative;
}

.cartBtn {
    width: 13px;
    height: 16px;

}